Source: hello-systemd-timer
Section: unknown
Priority: extra
Maintainer: user <user@tla0.classroom.pragmatux.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: hello-systemd-timer
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
